<div class="mt-5">

  <h2> nosotros</h2>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est animi dicta, dolorum nam repellendus fugit cumque dolorem itaque totam facilis molestias. Neque aliquid quas quo, doloribus nisi quos necessitatibus et?</p>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of _equipoService">Cras justo odio
  <h6>nombre: {{item.nombre}} </h6>
  <h6>especialidad: {{item.especialidad}} </h6> 
  <a href="#"> leer mas...</a>
</li>

</ul>


aloooooooooooo

</div>





